<div class="page-header">
	<h1>Create an account for free.</h1>
</div>

<!-- ng-submit="register.regUser();" means when this form is submitted(clicked submit), activate this function-regUser(); register is the name given in routes.js in controllerAs
regUSer(regData) - regData takea all the three user info.(email, uname,pw) & stores in one object.-->
<form name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
	<!-- Using ng-model="register.regData" to store the user info. in db,where regData is a name for ng-model. -->
	<!-- name -->
	<div ng-class="{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error': (!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted) }">
		<label>Name</label>
		<input class="form-control" type="text" name="name" placeholder="Name" ng-model="register.regData.name" ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/" ng-minlength="3" ng-maxlength="20" required>
		<p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required.</p>
		<ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)" class="help-block">
			<li>Must have a space in between first and last name.</li>
			<li>Must not contain any special characters or numbers.</li>
			<li>Must be at least 3 characters but no more than 20.</li>
		</ul>
	</div>
	<br>
	<!-- email -->
	<div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error': (!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid }">
		<label>Email</label>
		<input class="form-control" type="text" name="email" placeholder="Email" ng-model="register.regData.email" ng-pattern="/^([a-zA-Z0-9_\.]+)\w+@[a-zA-Z]+?\.[a-zA-Z]{2,5}$/" ng-minlength="3" ng-maxlength="35" ng-blur="register.checkEmail(regData);" required>
		<p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required.</p>
		<span ng-show="register.checkingEmail" class="glyphicon glyphicon-repeat"></span>
		<p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</p>
		<ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)" class="help-block">
			<li>You can use letters, numbers, periods and underscores.</li>
			<li>Must not contain any other special characters.</li>
			<li>Must contain "@".</li>
			<li>Must be at least 3 characters but no more than 35.</li>
		</ul>
	</div>
	<br>
	<!-- username -->
	<div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error': (!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid }">
		<label>Username</label>
		<input class="form-control" type="text" name="username" placeholder="Username" ng-model="register.regData.username" ng-pattern="/^\w{3,25}$/" ng-minlength="3" ng-maxlength="25" ng-blur="register.checkUsername(regData);" required>
		<p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required.</p>
		<span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span>
		<p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usernameMsg }}</p>
		<ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)" class="help-block">
			<li>You can use letters, numbers and underscores.</li>
			<li>Must not contain any other special characters.</li>
			<li>Must be at least 3 characters but no more than 25.</li>
		</ul>
	</div>
	<br>
	<!-- password -->
	<div ng-class="{ 'has-success':(regForm.password.$valid && !regForm.password.$pristine), 'has-error': (!regForm.password.$valid && !regForm.password.$pristine) || (!regForm.password.$valid && regForm.$submitted) }">
		<label>Password</label>
		<input class="form-control" type="password" name="password" placeholder="Password" ng-model="password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W])[0-9a-zA-Z\S]{8,35}$/" ng-minlength="8" ng-maxlength="35" required>
		<p class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required.</p>
		<ul ng-show="(!regForm.password.$pristine && regForm.password.$error.pattern) || (!regForm.password.$pristine && regForm.password.$error.minlength) || (!regForm.password.$pristine && regForm.password.$error.maxlength)" class="help-block">
			<li>Use a mix of letters, numbers, and symbols in your password.</li>
			<li>Don’t use personal information or common words as a password.</li>
			<li>Must contain at least one lower case and one upper case letters.</li>
			<li>Must contain at least one number and special character.</li>
			<li>Must be at least 8 characters but no more than 35.</li>
		</ul>
	</div>
	<br>
	<!-- confirmPassword -->
	<div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (!regForm.confirmPassword.$valid && regForm.$submitted) }">
		<label>Confirm Password</label>
		<input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" match="{{[password]}}" ng-change="register.regData.password = confirm" ng-model="confirm" required>
		<p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required.</p>
		<p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.password.$valid">Passwords do not match.</p>
	</div>
	<br>
	<button class="btn btn-primary" type="submit">Sign Up</button>
</form>

<!--
<br>
<input type="text" name="password" ng-model="password">
<br>
<br>
<input type="text" name="confirmPassword" ng-model="confirm" match={{[password]}}>
<p ng-show="!confirmed">Passwords do not match.</p>
-->
<!-- add a name to the form (regForm) and put it in double brackets in span below. this span of regForm will show a msg on UI like "$error":{},"$name":"regForm","$dirty":false,"$pristine":true,"$valid":true,"$invalid":false,"$submitted":false
It will be useful to add customize frontEnd validations for form fields
$pristine - the form has not been touched. After clicking/typing on any fields boxes it will show false-->
<!-- <span>{{ regForm }}</span> -->
<!--
<span><strong>Is this form pristine(new)?: </strong>{{ regForm.$pristine }}</span><br>
<span><strong>Does this form have errors?: </strong>{{ regForm.$error }}</span><br>
<span><strong>Was the form submitted?: </strong>{{ regForm.$submitted }}</span><br>
<span><strong>Is this form valid?: </strong>{{ regForm.$valid }}</span>
-->


<br>

<!-- to show Loading... on UI after user clicks on register btn. ng-show="register.loading" means when loading is true show it -->
<div class="jumbotron text-center" ng-show="register.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>
<div class="row show-hide-message" ng-show="register.successMsg">
	<div class="alert alert-success">
		{{ register.successMsg }} <!-- this is how angular passes data from controller to html -->
	</div>
</div>
<br>
<div class="row show-hide-message" ng-show="register.errorMsg">
	<div class="alert alert-danger">
		{{ register.errorMsg }}
	</div>
</div>
